*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card ul li img{
    max-width: 24px !important;
 }

 .card-footer .text-start{
   display:flex !important;
   justify-content: flex-start !important;
   gap: 16px !important;
 }

 .card-body .text-end{
    display:flex !important;
   justify-content: flex-end !important;
   gap: 16px !important;
 }
/* body {
    font-family:'poppins', sans-serif;
    background:#fafafa
}
.nav-item img {
    max-width: 24px;
}

.account img {
    max-width: 30px;
    padding-right: 10px;
}

.d-flex .btn{
    width: 100px !important;
    padding: 4px;
}

.card ul li{
    border: none !important;
    border-bottom: 0 !important;
 }

 .vline{
    width:2%;
    height:55px;
    border-right: 3px dotted #FF6433;
    margin:0 auto;
} */

body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

.dropdown-toggle::after {
    content: none;
    display: none;
}